body{
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 5em;
    font-weight: lighter;
    margin: 0px;
}

img {
    border: 3px solid LightBlue;
}

figcaption {
    font-weight: bold;
    
}

div.berry{
    margin: -2px auto;
    width: 200px;
    padding: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

div.berry > p{
    font-style: italic;
}

div.berry > h2{
    font-size: 150%;
    font-weight: lighter;
}

div.blue{
    background-color: LightBlue;
}

div.cloud{
    background-color: #f4d6c6;
}

div.lingon{
    background-color: #ff9999;
}
