p {
    font-family: Arial, Verdana, sans-serif;
    
    
}

table {
    border: 1px solid gray;
    border-spacing: 0 0;
}

caption{
    font-weight: bold;
    font-family: sans-serif, Arial, Verdana;
    text-transform: uppercase;
    border: 1px solid gray;
}

thead {
    color: white;
    background-color: red;
}

th {
    padding-left: 5px;
    padding-right: 5px;
    
}
td {
    
    padding-left: 5px;
    padding-right: 5px;
}

.heading {
    
}


.bold {
    font-weight: bold;
    border-right: 1px solid gray;
}