body {
    font-family: Verdana, Arial, sans-serif;
    background-color: black;
    color: red;
    
}

figure{
    float: left;
    
}

img{
    border: 3px solid red;
    border-radius: 2px;
}

h1 {
    font-weight: lighter;
    margin-left: 70px;
    text-decoration: underline;
}

div {
    margin-left: 300px;
}

table{
    border: 2px solid red;
    border-radius: 4px;
}

caption {
    font-weight: bold;
}