

body {
    font-family: Arial, Verdana, sans-serif;
    color: green;
    background-color: black;
}

#special {
    font-size: 0.8em;
    color: yellowgreen;
    font-style: italic;
    border-left: 2px solid black;
    margin-left: 40px;
    padding-left: 10px;
}

p::first-letter {
    font-size:8em;
}

p::first-line {
    font-weight: bold;
}

p.copyright_notice {
    font-size: 0.8em;
}

h1 {
    color: rgba(65,105,225,0.7);
    font-size: 4.0em;
}

h2 {
    color: blue;
    font-weight: bold;
}

p.koodi {
    color: red;
    font-size: 0.8em;
}

ul, ol {
    border: 1px solid black;
    font-size: 0.8em;
    margin-left: 10px;
}

p {
    margin-left: 10px;
}

figcaption {
    font-size: 0.7em;
    font-weight: bold;
}